/* Interview */

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: serif;
	padding: 2em;
	max-width: 51em;
	background: rgb(238,231,174);
	background: radial-gradient(circle, rgba(238,231,174,1) 0%, rgba(148,187,233,1) 100%);
	text-indent: 5em;

}
main{

}
.hero {
	
	width: auto;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	columns: 2;
}

.hero h1 {

	font-size: 3em;
	margin-bottom: 0.5em;
}

.hero h2 {
	color: navy;
}

.hero h3 {
	color: grey;
	font-size: 1em;
}
summary {
	margin: 5;
	padding: 0;
	font-size: 1em;
	font-weight: 300;
	outline: none;
	cursor: pointer;
	transition: color 0.3s;
	color: black;
}

.Summaryhover {
	color: white;
}

.rectangle {
	max-width: 100%;
	height: 5em;
	z-index: -1;
	position: absolute;
	top: 1%;
}

.toggle p {
	opacity: 0;
	transition: all 0.5s;
	transition-delay: 0.5s;
	height: 0;
	overflow: hidden;
}

.show p {
	opacity: 1;
	height: auto;
	overflow: visible;
}
